img {
	max-width: 100%; /* Make sure images are scaled correctly. */
	height: auto; /* Adhere to container width. */
	vertical-align: top;
}

figcaption {
	padding: 16px 0 0;
	text-align: center;
	font-size: .9em;
}

[style*="--lazy-image-height"]:before {
	display: block;
	width: 100%;
	content: "";
	height: 0;
	padding-top: var(--lazy-image-height);
}

.minimog-lazy-image {
	position: relative;
	overflow: hidden;
	max-width: 100%;
	width: var(--lazy-image-width);

	&:before {
		background-color: #000;
		animation: placeholder-background-loading 1.5s infinite linear;
	}

	img {
		position: absolute;
		top: 0;
		left: 0;
	}
}

.ll-background.ll-background-unload {
	position: relative;
	background-color: transparent !important;
	background-image: none !important;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #000;
		animation: placeholder-background-loading 1.5s infinite linear;
	}
}
