// Product.
.ppc-button-wrapper {
	margin: 0 0 10px;
}

// Cart.
.wc-proceed-to-checkout {
	.ppc-button-wrapper {
		margin: 10px 0 0;
	}
}

.woocommerce-checkout {
	.ppc-button-wrapper {
		margin: 20px 0 0;
	}
}
