// Default Spacing.
.page-content {
	margin-top: 100px;
	margin-bottom: 100px;
}

// Remove if has title bar.
.page-title-bar + .page-content {
	margin-top: 0;
}

.elementor-page.page-has-sidebar {
	.page-content {
		> .container {
			max-width: 1200px;
			padding-left: 15px;
			padding-right: 15px;
		}

		.elementor-section.elementor-top-section > .elementor-container {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

body.elementor-page.page-has-no-sidebar {
	&.page {
		.page-content {
			> .container {
				max-width: 100%;
				padding-left: 15px;
				padding-right: 15px;
			}
		}

		.page-main-content {
			padding: 0;
		}
	}
}

body.page {
	&.elementor-archive-page,
	&.elementor-page {
		.page-content {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.hentry {
	@extend %clearfix;
}

.page-blocks-style-border-block {
	.page-content {
		margin-bottom: 6px;
	}

	.block-wrap {
		padding: 30px;
		border: 1px solid $box-white-border;
		background: $box-white-background;
	}
}

@include media-breakpoint-down(md) {
	.page-content {
		margin-top: 80px;
		margin-bottom: 80px;
	}
}

@include media-breakpoint-down(sm) {
	.page-content {
		margin-top: 60px;
		margin-bottom: 60px;
	}
}
