.woosc-quick-table-products {
	width: 100%;
	overflow-x: auto;
}

.woosc-quick-table {
	--td-v-padding: 15px;
	--td-h-padding: 30px;

	> h2 {
		font-size: 36px;
		line-height: 1.32;
		margin: 0 0 43px;
		text-align: center;
	}

	.woosc_table {
		margin: 0;

		thead {
			.woosc-remove,
			.woosc-table-settings {
				display: none;
			}
		}

		> thead > tr > th,
		> tbody > tr > td {
			min-width: 301px;
			background-color: #fff;
			text-align: start;
			border: 0;
			padding: var(--td-v-padding) var(--td-h-padding);

			&:nth-child(2) { // Main product.
				z-index: 1;
			}
		}

		> thead > tr > th {
			font-size: 18px;
			color: $heading-color;
			font-weight: 500;
			padding: var(--td-v-padding) 20px;
		}

		.th-label,
		.td-label {
			min-width: 160px;
			font-size: 16px;
			color: $heading-color;
			font-weight: 500;
			padding: var(--td-v-padding) 20px;
			z-index: 1;
		}

		th,
		tr:nth-child(2n) td {
			background-color: #fbfbfb !important;
		}

		.tr-image {
			td {
				padding: 15px 20px;
			}
		}

		.tr-add_to_cart {
			td {
				padding: 20px;
			}
		}
	}

	p.add_to_cart_inline:empty {
		display: none;
	}

	.added_to_cart,
	.lumise-button {
		display: none;
	}

	.woocommerce_loop_add_to_cart_wrap {
		display: block;

		&:before,
		&:after {
			display: none;
		}
	}

	.button {
		width: 100%;
	}

	&.label-column-no {
		.th-label,
		.td-label {
			display: none;
		}
	}
}

@include media-breakpoint-down(sm) {
	.woosc-quick-table {
		> h2 {
			font-size: 28px;
			margin: 0 0 35px;
		}
	}
}

@include media-breakpoint-down(sm) {
	.woosc-quick-table {
		> h2 {
			font-size: 22px;
			margin: 0 0 25px;
		}

		.woosc_table {
			> thead > tr > th:nth-child(2),
			> tbody > tr > td:nth-child(2) {
				position: static !important;
			}
		}
	}
}
