.page-loading {
	--preloader-color: #{$heading-color};
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 999999;
	overflow: hidden;
	transition: opacity .5s;
	background: #fff;
	display: flex;
	align-items: center;
	justify-content: center;

	.sk-wrap {
		width: 60px;
		height: 60px;
		margin: 0 auto;
		font-size: 0;
		color: var(--preloader-color);
	}
}

.minimog-pre-loader-gif-img {
	max-width: 40vw;
}

body.loaded {
	.page-loading {
		opacity: 0;
		pointer-events: none;
	}
}
