@charset "UTF-8";

@font-face {
	font-family: ClashDisplay;
	src: url(ClashDisplay-Regular.woff2) format('woff2'),
	url(ClashDisplay-Regular.woff) format('woff'),
	url(ClashDisplay-Regular.ttf) format('truetype');
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: ClashDisplay;
	src: url(ClashDisplay-Medium.woff2) format('woff2'),
	url(ClashDisplay-Medium.woff) format('woff'),
	url(ClashDisplay-Medium.ttf) format('truetype');
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: ClashDisplay;
	src: url(ClashDisplay-Semibold.woff2) format('woff2'),
	url(ClashDisplay-Semibold.woff) format('woff'),
	url(ClashDisplay-Semibold.ttf) format('truetype');
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: ClashDisplay;
	src: url(ClashDisplay-Bold.woff2) format('woff2'),
	url(ClashDisplay-Bold.woff) format('woff'),
	url(ClashDisplay-Bold.ttf) format('truetype');
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

