.minimog-product-categories-metro {
	.minimog-image {
		position: relative;
	}

	.minimog-image__inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: inherit;
	}
}
