.typed-cursor {
	opacity: 1;
	animation: blink .7s infinite;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.tm-typed-headline {
	max-width: 100%;

	.minimog-headline {
		display: inline-block;
		margin: 0;
	}

	.headline-part {
		display: inline-block;
	}

	.typed-cursor {
		color: inherit;
		background: inherit;
	}
}
