



.woobt-wrap {
  margin: 21px 0 0;
}

.woobt-product-cart-inner {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.woobt-product-cart-inner > * {
  margin: 0 0 0 4px;
}

.woobt-products-wrap {
  position: relative;
}

.woobt-block-heading {
  font-size: 20px;
  font-weight: var(--minimog-typography-headings-font-weight-secondary);
  margin: 0;
}

.woobt-checkbox:disabled {
  cursor: not-allowed;
}

.woobt-checkbox-this {
  opacity: .4;
}

.woobt-image-plus {
  display: none;
}

.woobt-image-plus svg {
  display: block;
  width: 20px;
  height: 20px;
}

.woobt-form {
  margin: 18px 0 0;
}

.woobt-form .button {
  width: 100%;
  margin: 0;
}

.woobt-image a {
  display: block;
}

.woobt-image img {
  width: 100%;
}

.woobt-product {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.woobt-product .woobt-thumb-wrap {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0 10px;
}

.woobt-product .woobt-thumb {
  position: relative;
  width: 60px;
}

.woobt-product .woobt-thumb a {
  display: block;
}

.woobt-product .woobt-thumb img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
}

.woobt-product .woobt-choose {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.woobt-product .woobt-product-info {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.woobt-product .woobt-price {
  line-height: 28px;
}

.woobt-product .woobt-price .price {
  line-height: 28px;
}

.woobt-product .woobt-product-cart {
  margin: 10px 0 0;
}

.woobt-product .woobt-title {
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: var(--minimog-color-heading);
  margin: 0;
}

.woobt-product .woobt-title a {
  text-decoration: none;
  box-shadow: none;
}

.woobt-product .woobt-title .stock {
  font-size: 14px;
  margin: 0;
}

.woobt-product .woobt-title .stock.in-stock {
  color: green;
}

.woobt-product .woobt-title .stock.available-on-backorder {
  color: orange;
}

.woobt-product .woobt-title .stock.out-of-stock {
  color: red;
}

.woobt-product .variations_form {
  display: none;
}

.woobt-product .product-variation-select {
  width: auto;
  border: 0;
  box-shadow: none !important;
  min-height: 26px;
  line-height: 28px;
  padding: 0 0 0 15px;
  background-position: 0% 50%;
  color: var(--minimog-color-text);
}

.woobt-product .entry-product-low-stock {
  margin: 5px 0 0;
}

.woobt-product div.quantity {
  --size: 26px;
}

.woobt-product div.quantity input.qty {
  background: none;
  border: 0;
  box-shadow: none !important;
  line-height: 1;
  padding: 0;
}

.woobt-product.woobt-hide .woobt-quantity {
  opacity: .6;
}

.woobt-product.woobt-hide .woobt-quantity * {
  pointer-events: none;
}

.woobt-product .stock {
  display: none;
}

.woobt-product-this .woobt-price .woobt-price-new {
  display: none;
}

.woobt-disabled {
  opacity: .5 !important;
  cursor: not-allowed !important;
  pointer-events: none;
}

.woobt-hide-this {
  display: none;
}

.woobt-text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--minimog-color-primary);
}

.woobt-text svg {
  margin-left: 0.5rem;
}

.woobt-before-text {
  margin: 12px 0 18px;
}

.woobt-after-text {
  margin: 18px 0 0;
}

.woobt-alert {
  margin: 20px 0 0;
}

.woobt-alert strong {
  font-weight: 500;
  color: var(--minimog-color-heading);
}

.woobt-additional {
  margin: 0 0 5px;
}

.woobt-total .amount {
  font-size: 24px;
  font-weight: 700;
  color: var(--minimog-color-primary);
}

.woobt-footer {
  margin: 27px 0 0;
}

.woobt-count {
  margin: 0 5px 0 0;
}

.woobt-count:before {
  content: '(';
}

.woobt-count:after {
  content: ')';
}

.woobt-actions form.cart {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.woobt-qty {
  width: 60px;
  text-align: center;
}

.woobt-layout-default .woobt-product + .woobt-product {
  padding: 20px 0 0;
  margin: 20px 0 0;
  border-top: 1px solid #eee;
}

.woobt-layout-separate .woobt-product-this {
  margin: 0 0 12px;
}

.woobt-layout-separate .woobt-product + .woobt-product {
  margin: 12px 0 0;
}

.woobt-layout-separate .woobt-thumb-wrap {
  margin: 0 0 0 16px;
}

.woobt-layout-separate .woobt-images {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: auto;
  margin-bottom: 35px;
}

.woobt-layout-separate .woobt-images > div {
  margin: 0 0 0 16px;
}

.woobt-layout-separate .woobt-images .woobt-image-plus {
  display: block;
}

.woobt-layout-separate .woobt-image {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 120px;
}

.woobt-layout-separate .woobt-image:last-child {
  margin: 0;
}

.woobt-layout-separate .woobt-thumb {
  display: none;
}

.woobt-layout-separate input[type='checkbox'] {
  display: block;
  width: 22px;
  height: 22px;
  margin: 1px;
}

.woobt-layout-separate input[type='checkbox']:before {
  width: 24px;
  height: 24px;
}

.woobt-layout-separate input[type='checkbox']:after {
  font-size: 16px;
}

.woobt-layout-separate .woobt-product-info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.woobt-layout-separate .woobt-title {
  margin: 0 0 0 8px;
}

.woobt-layout-separate .woobt-footer {
  margin: 21px 0 0;
}

.woobt-layout-separate .woobt-product-cart {
  margin: 0;
}

.woobt-block-content {
  display: block;
  width: 100%;
  margin-top: 18px;
  border: 1px solid #000;
  padding: 20px 19px;
  border-radius: 5px;
}

.woobt-block-content .added_to_cart {
  display: none;
}

.entry-summary .woobt-layout-separate .woobt-products {
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.woobt-position-below_title {
  margin: 21px 0;
}

.variations_form .woobt-position-before,
.variations_form .woobt-position-after {
  margin: 0 0 21px;
}

.woobt-position-below_summary {
  margin: 48px 0 0;
}

.woobt-position-below_summary .woobt-block-heading {
  font-size: 1.75rem;
  line-height: 1.5;
}

.woobt-position-below_summary .woobt-block-content {
  margin-top: 32px;
}

.woobt-position-below_summary.woobt-layout-separate .woobt-thumb {
  display: block;
}

.woobt-position-below_summary.woobt-layout-separate .woobt-product-cart {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0 0;
}

.woobt-position-below_summary.woobt-layout-separate .woobt-choose {
  margin: 2px 0 0 16px;
}

.woobt-position-below_summary.woobt-layout-separate .minimog-variation-select-wrap {
  max-width: calc(100% - 40px);
}

.woobt-position-below_summary.woobt-layout-separate .minimog-variation-select-wrap select {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (min-width: 768px) {
  .woobt-position-below_summary {
    --footer-width: 250px;
  }
  .woobt-position-below_summary .woobt-products-wrap {
    position: relative;
    overflow: auto;
    padding: 0 0 30px;
  }
  .woobt-position-below_summary .woobt-text {
    font-size: 18px;
  }
  .woobt-position-below_summary .woobt-block-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    width: auto;
    border: 0;
    padding: 0;
  }
  .woobt-position-below_summary .woobt-body {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 calc(100% - var(--footer-width));
        -ms-flex: 0 0 calc(100% - var(--footer-width));
            flex: 0 0 calc(100% - var(--footer-width));
    max-width: calc(100% - var(--footer-width));
    padding: 0 15px;
  }
  .woobt-position-below_summary .woobt-footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 var(--footer-width);
        -ms-flex: 0 0 var(--footer-width);
            flex: 0 0 var(--footer-width);
    max-width: var(--footer-width);
    padding: 0 15px 115px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
                -ms-grid-row-align: center;
            align-self: center;
  }
  .woobt-position-below_summary .woobt-footer {
    margin: 0;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-products {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-product {
    display: block;
    margin: 0 0 0 28px !important;
    width: 235px;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-product:last-child {
    margin: 0 !important;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-product-this {
    margin: 0 0 0 76px !important;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-image-plus {
    display: block;
    position: absolute;
    top: 50%;
    left: -48px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-thumb-wrap {
    margin: 0 0 24px;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-thumb {
    width: 235px;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-product-info {
    display: block;
  }
  .woobt-position-below_summary.woobt-layout-separate .woobt-title {
    margin: 0;
  }
}

@media (min-width: 992px) {
  .woobt-position-below_summary {
    --footer-width: 365px;
  }
}

@media (max-width: 767px) {
  .woobt-image-plus {
    display: none;
  }
  .woobt-layout-separate .woobt-product-info {
    display: block;
  }
}
