.notice.elementor-message,
.rs-update-notice-wrap {
	display: none;
}

.wp-list-table.plugins {
	#revslider-update {
		.update-message {
			display: none;
		}
	}
}

.notice.wpc-notice {
	display: none;
}

.villatheme-dashboard.error {
	display: none;
}

.e-notice.e-notice--extended {
	display: none;
}

.wpforms-notice.wpforms-review-notice {
	display: none;
}
